{% extends "layout.html" %}
{% block maincontent %}
<div class="container-fluid" style="padding:70px 10px;min-height:2000px">
	<h1>Devices Log</h1>
	<button id="update" class="btn btn-info btn-md"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Reload</button>&nbsp;Last Reload:<span id="updatetime"></span>
	<button id="toggleview" class="btn btn-info btn-md pull-right">Small</button>
	<ol class="list-group" id="list">
	</ol>
</div>

<div style="display:none">
	<li href="#" id="listitem" class="list-group-item clearfix col-md-12">
		<div style="float:left" class="col-md-2 col-sm-3 col-xs-4 normalshow">
			Name:&nbsp;<span name="DeviceName"></span><br />
			ID:&nbsp;<span name="DeviceID"></span><br />
			Status:&nbsp;<span name="Status"></span>(<span name="HeartTime"></span>)<br />
			Uptime:&nbsp;<span name="Uptime">xx day xx:xx:xx </span><br />
		</div>
		<div style="float:left; display:none" class="col-md-2 col-sm-3 col-xs-4 smallshow">
			<span name="DeviceName"></span>(<span name="DeviceID"></span>)
		</div>
		<div style="float:right" class="col-md-10 col-sm-9 col-xs-8">
			<textarea name="log"></textarea>
		</div>
	</li>
</div>
{% endblock %}



{% block script %}
<script>
Date.prototype.toString = function(){
		var y = this.getFullYear();
		var m = this.getMonth() + 1;
		var d = this.getDate();
		var H = this.getHours();
		var M = this.getMinutes();
		var S = this.getSeconds();
		if( m < 10 ) m = "0" + m;
		if( d < 10 ) d = "0" + d;
		if( H < 10 ) H = "0" + H;
		if( M < 10 ) M = "0" + M;
		if( S < 10 ) S = "0" + S;
		return y+"/"+m+"/"+d+" "+H+":"+M+":"+S;
}
$(function(){
	function update(){
		$( "#update" ).prop( "disabled", true );
		$.ajax({
			type: "get",
			url: "{{ url_for("devicestatus_all") }}",
			dataType: "json",
			success: function( data ){
				var dl = data.devices;
				for( var i in dl ){
					var id = dl[i].ID;
					if( $( '#'+id ).length ){ //Update Item
						$( '#'+id ).find("span[name='DeviceName']").html( dl[i].Name );
						$( '#'+id ).find("span[name='DeviceID']").html( dl[i].ID );
						$( '#'+id ).find("span[name='Status']").html( dl[i].Status );
						$( '#'+id ).find("span[name='HeartTime']").html( dh[i].time );
					}else{	//Append Item
						var item = $( "#listitem" ).clone( true );
						item.attr( "id", dl[i].ID );
						item.find( "span[name='DeviceName']" ).html( dl[i].Name );
						item.find( "span[name='DeviceID']" ).html( dl[i].ID );
						item.find( "span[name='Status']" ).html( dl[i].Status );
						item.find( "span[name='HeartTime']" ).html( (dl[i].time==0?"No Data":dl[i].time) );
						$( "#list" ).append( item );
					}
					$.ajax({
						type: "get",
						url: "{{ url_for("devicelog",DeviceID="") }}".replace('//','/'+id+'/'),
						dataType: "json",
						success: function( data ){
							var txt = "";
							for( i in data.data ){
								var st = new Date( data.data[i].stime * 1000 );
								var et = new Date( data.data[i].etime * 1000 );
								txt += st.toString() + " - " + et.toString() + " :";
								switch( data.data[i].stat ){
									case 1:
										txt += "NC";
										break;
									case 2:
										txt += "OK";
										break;
									default:
										txt += "NG";
										break;
								}
								txt+="\n";
							}
							$( "#"+data.ID+" textarea[name='log']" ).val( txt );
						},
						error: function(){
							alert("HTTP request fail...");
						}
					});
				}
			},
			error: function(){
				alert( "HTTP request fail..." );
			}
		});
	}
	update();
});	

var chart = c3.generate({
    data: {
        x:"x",
        xFormat: '%Y-%m-%d %H:%M:%S',
        columns: [
            [
                'x',
                '2013-01-01 00:10:00',
                '2013-01-01 00:11:00',
                '2013-01-01 00:12:00',
                '2013-01-01 00:13:00',
                '2013-01-01 00:14:00',
                '2013-01-01 00:15:00'
            ],
            ['data2', 2,2,0,1,1,2]
        ]
    },
    axis: {
        x: { type: 'timeseries', tick:{ format: "%Y-%m-%d %H:%M:%S" } },
        y: { max:2, tick:{
                format: function(d){
                    switch( d ){
                        case 0: return "NG";
                        case 1: return "NC";
                        case 2: return "OK";
                        default: return "";
                    }
                },
                values:[0,1,2]
         } }
    }
});
</script>
<!--script>
var devstaturl = "{{ url_for("devicestatus_all") }}";
var devid = "{{ url_for("gen_device_id") }}";
var moddev = "{{ url_for("mod_device",DeviceID="") }}";
$(function(){
	function update(){
		$( "#update" ).prop( "disabled", true );
		$.ajax({
			type: "get",
			url: devstaturl,
			dataType: "json",
			success: function( data ){
				var devlist = data.devices;
				var flag = false
				for( var i in devlist ){
					id = devlist[i].ID;
					if( $( "#"+id ).length ){//Update item
						$( "#"+id ).removeClass( "list-group-item-success list-group-item-warning list-group-item-danger" );
						if( devlist[i].Stat == "OK" ) $( "#"+id ).addClass( "list-group-item-success" );
						else if( devlist[i].Stat == "UP" ) $( "#"+id ).addClass( "list-group-item-warning" );
						else if( devlist[i].Stat == "NG" ) $( "#"+id ).addClass( "list-group-item-danger" );
						$( "#"+id ).find( "span[name='DeviceName']" ).empty().append( devlist[i].Name );
						$( "#"+id ).find( "span[name='Status']" ).empty().append( devlist[i].Stat );
						$( "#"+id ).find( "span[name='HeartTime']" ).empty().append( (devlist[i].time==0)?"No Data":devlist[i].time );
						$( "#"+id ).find( "p[name='Description']" ).empty().append( devlist[i].Description );
						if( devlist[i].Stat != "OK" ) $( "#"+id ).find( "span[name='icon']" ).removeClass( "glyphicon-heart" ).addClass( "glyphicon-alert" );
						else $( "#"+id ).find( "span[name='icon']" ).removeClass( "glyphicon-alert" ).addClass( "glyphicon-heart" );
					}else{//Append item
						var item = $( "#listitem" ).clone( true );
						var str = "list-group-item-";
						item.attr( "id", id );
						if( devlist[i].Stat == "OK" ) str += "success";
						else if( devlist[i].Stat == "UP" ) str += "warning";
						else if( devlist[i].Stat == "NG" ) str += "danger";
						item.addClass( str );
						item.find( "span[name='DeviceName']" ).append( devlist[i].Name );
						item.find( "button[name='edit']" ).attr( "data-whatever", devlist[i].ID );
						item.find( "span[name='DeviceID']" ).append( devlist[i].ID );
						item.find( "span[name='Status']" ).append( devlist[i].Stat );
						item.find( "span[name='HeartTime']" ).append( (devlist[i].time==0)?"No Data":devlist[i].time );
						item.find( "p[name='Description']").append( devlist[i].Description );
						if( devlist[i].Stat != "OK" ) item.find( "span[name='icon']" ).removeClass( "glyphicon-heart" ).addClass( "glyphicon-alert" );
						else item.find( "span[name='icon']" ).removeClass( "glyphicon-alert" ).addClass( "glyphicon-heart" );
						$( "#list" ).append( item );
						flag = true
					}
					if( flag ) $("#plus").appendTo('#list');
				}
				$( "#updatetime" ).empty().append( data.Time );
			},
			error: function(){
				alert( "HTTP reqest fail." );
			},
			complete: function(){
				$( "#update" ).prop( "disabled", false );
			}
		});
	}
	
	update();
	setInterval( update, 60000 );
	$( "#update" ).click( update );

	var view = ".normalshow";
	var viewo = [240,100];
	$( "a>.smallshow, a>.moreshow" ).hide();
	$( "#listitem" ).click(function(){
		if( $( this ).find(".moreshow").is( ":visible" ) ){
			$( this ).find(".moreshow").hide();
			$( this ).find( view ).fadeIn("slow");
			$( this ).animate( { width:viewo[0],height:viewo[1] }, 200 );
		}else{
			$( this ).find(".smallshow, .normalshow").hide();
			$( this ).find( ".moreshow" ).fadeIn("slow");
			$( this ).animate( { width: "360px", height:"360px" }, 200 );
		}
	});
	$( "#toggleview" ).click( function(){
		$( ".listitems>div.moreshow:visible" ).parent().click();
		$( ".listitems" ).find( view ).hide();
		if( view == ".normalshow" ){
			view = ".smallshow";
			viewo = [180,50];
			$(this).html( "Medium" );
		}else{
			view = ".normalshow";
			viewo = [240,100];
			$(this).html( "Small" );
		}
		$( ".listitems" ).find( view ).show();
		$( ".listitems" ).animate( {width:viewo[0],height:viewo[1]}, 200 );
	});

	$( "#listitem button[name='remove']" ).click( function( event ){
		var ID = $(this).parent().parent().find( "span[name='DeviceID']" ).html();
		$( "#messagebox" ).find( ".modal-title" ).html( "Confirmation" );
		$( "#messagebox" ).find( ".modal-body" ).html( "Are you really want to remove this device?" );
		$( "#messagebox" ).find( "button[name='yesbutton']" ).off( "click.msg" ).on( "click.msg", function(){
			$.ajax({
				type: "delete",
				url: moddev+ID,
				dataType: "json",
				success: function(data){
					$( "#"+ID ).fadeOut("slow",function(){$("#"+ID).remove();});
					$( "#messagebox" ).modal("hide");
				},
				error: function(){
					alert( "HTTP request fail." );
				}
			});
		});
		$( "#messagebox" ).find( "button[name='nobutton']" ).off( "click.msg" ).on( "click.msg", function(){$("#messagebox").modal("hide");});
		$( "#messagebox" ).modal();
		event.stopPropagation();
	});

	$( "#listitem button[name='edit']" ).click( function( event ){
		var ID = $( this ).parent().parent().find( "span[name='DeviceID']" ).html();
		var name = $( this ).parent().parent().find( "span[name='DeviceName']" ).html();
		var desc = $( this ).parent().parent().find( "p[name='Description']" ).html();
		$( "#moreinfo input[name='DeviceID']" ).val( ID );
		$( "#moreinfo input[name='DeviceName']" ).val( name );
		$( "#moreinfo textarea[name='Description']" ).val( desc.trim() );
		$( "#moreinfo" ).modal();
		event.stopPropagation();
	});
	$( "#moreinfo" ).on( "show.bs.modal", function(event){
		var tmp = $(event.relatedTarget).data('whatever');
		if( tmp == 'add' ){
			$.ajax({
				type: "get",
				url: devid,
				dataType: "json",
				success: function( data ){
					$( "#moreinfo input[name='DeviceID']" ).val( data.ID );
				},
				error: function(){
					alert( "HTTP request fail." );
				}
			});
			$(this).find( "input[name='DeviceName']" ).val("");
			$(this).find( "textarea[name='Description']" ).val("");
			$(this).find( "input[name='DeviceID']" ).prop( "disabled", false );
			$(this).find( ".glyphicon" ).show();
			$(this).find( ".control-group:first" ).addClass( "has-success" );
			$(this).find( "button[type='submit']" ).html( "Add" );
			$(this).find( ".modal-title" ).html( "New Device" );
		}else{
			$(this).find( ".glyphicon" ).hide();
			$(this).find( ".control-group:first" ).removeClass("has-success");
			$(this).find( "input[name='DeviceID']" ).prop( "disabled", true );
			$(this).find( "button[type='submit']" ).html( "Submit" );
			$(this).find( ".modal-title" ).html( "Device "+$(this).find("input[name='DeviceName']").val() );
		}
	});
	function checkID(){
		var tmp = { "ID": $( "#moreinfo input[name='DeviceID']" ).val() };
		if( tmp.length == 0 ) return;
		$.ajax({
			type: "post",
			url: devid,
			data: JSON.stringify( tmp ),
			contentType: "application/json",
			dataType: "json",
			success: function(data){
				if( data.stat == "OK" ){
					$( "#moreinfo .has-feedback" ).removeClass( "has-error" ).addClass( "has-success" );
					$( "#moreinfo .form-control-feedback" ).removeClass("glyphicon-remove").addClass("glyphicon-ok");
				}else{
					$( "#moreinfo .has-feedback" ).removeClass( "has-success" ).addClass( "has-error" );
					$( "#moreinfo .form-control-feedback" ).removeClass("glyphicon-ok").addClass("glyphicon-remove");
				}
			},
			error: function(){
				alert( "HTTP request fail." );
			}
		});
	}
	$( "#moreinfo input[name='DeviceID']" ).change( checkID );
	$( "#moreinfo input[name='DeviceID']" ).bind( "paste", function(){ setTimeout( checkID, 20 ); });
	$( "#moreinfo form" ).submit( function(){
		var DeviceID = $("#moreinfo input[name='DeviceID']").val();
		var DeviceName = $( "#moreinfo input[name='DeviceName']" ).val();
		var Description = $( "#moreinfo textarea[name='Description']" ).val();
		var tmp = { ID:DeviceID, Name:DeviceName, Description:Description };
		if( $("#moreinfo input[name='DeviceID']").prop("disabled") ) tmp.stat = "mod";
		else tmp.stat = "new";
		$.ajax({
			type: "post",
			url: moddev+DeviceID,
			data: JSON.stringify( tmp ),
			contentType: "application/json",
			dataType: "json",
			success: function( data ){
				if( data.stat == "OK" ){
					update();
					$("#moreinfo").modal("hide");
				}else{
					alert( "Fail..." );
				}
			},
			error: function(){
				alert( "HTTP request fail." );
			}
		});
		return false;
	});
	$( "#listitem button[name='shutdown']" ).click( function(){
		$.ajax({
			type: "post",
			url: moddev+DeviceID+"/power",
			data: JSON.stringify( {command:"shutdown"} ),
			contentType: "application/json",
			dataType: "json",
			success: function( data ){
				if( data.stat == "OK" ){
					update();
					$( this ).parent().children( "button" ).prop( "disabled", true );
				}else{
					alert( "Please retry..." );
				}
			},
			error: function(){
				alert( "HTTP request fail." );
			}
		});
	});
	$( "#listitem button[name='reboot']" ).click( function(){
		$.ajax({
			type: "post",
			url: moddev+DeviceID+"/power",
			data: JSON.stringify( { commad:"reboot" } ),
			contentType: "application/json",
			dataType: "json",
			success: function( data ){
				if( data.stat == "OK" ){
					update();
				}else{
					alert( "Please retry..." );
				}
			},
			error: function(){
				alert( "HTTP request fail." );
			}
		});
	});
});
</script-->
{% endblock%}



{% block style %}
<style>
ol > li.list-group-item {
	margin: 10px 0px;
}
</style>
{% endblock %}



