{% extends "outerlayout.html" %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header"><a class="navbar-brand" href="#">Test project</a></div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li {% if page == "summary" %} class="active" {% endif %} ><a href="{{ url_for("dashboard_page") }}">Summary</a></li>
				<li {% if page == "devicelog" %} class="active" {% endif %} ><a href="{{ url_for("devicelog_page") }}">Devices Log</a></li>
				<li {% if page == "alerts" %} class="active" {% endif %} ><a href="#">Alert List</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>

{% block maincontent %}
{% endblock %}

{% endblock %}

